fieldset
  border 1px solid #CCC
  padding 1em 1.4em 1.4em
  margin 1em 0
legend
  padding 0 .3em

label
  user-select none
  cursor pointer


//TST
.form
  display flex
  flex-direction column
  *
    width 240px




//BASE
button, input, select, textarea
  outline: 0
  box-shadow: none
  font: inherit

//BASE height
select, input, button, .btn
  line-height: 2.4
  height 2.4em
  padding: 0 1em


select, input
  border: 1px solid $border-input
  margin-bottom 1em
select
  border-radius .3em
  //height 2.4em //(line-height)FF
  cursor: pointer
  appearance: none
  background #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='12'><polygon points='0,0 12,0 6,12' fill='orange'/></svg>") 100% no-repeat;

.Serch
  padding-left 2.4em  
  background url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='13' height='13'><g stroke-width='2' stroke='blueviolet'><circle cx='5' cy='5'  r='4' style='fill:none;' /><line x1='9' y1='9' x2='13' y2='13' /></g></svg>") 1em 50% no-repeat


@import 'form_button'
@import 'form_chekbox@radio'
