@charset "UTF-8"

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic')

*
  margin 0
  padding 0
  box-sizing border-box

:root
  font 100%/1.6 'Roboto', 'Helvetica Neue', sans-serif
  color #444


@import 'settings'
@import 'form'
@import 'helperS'
@import 'list@textList'

@import 'custom-select'



a
  color: $link


//i, b
i
  font inherit




h1,h2,h3,h4,h5,p
  margin 1em 0 .75em
  //margin 0 0 .75em
.H1,h1,h2,h3,h4
  line-height 1.2
h1,h2
  color $header
  font-weight: 400
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
p
  margin-bottom 1em
