$red = #ed5565 // #f05f5c
$green = #26a69a
$blue = #4285f4
$link = #477dca

$border-input =  #CCC //#607d8b


$header = #3c4858

textOW()
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
